@use "../components/index";

.tags {
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  // border: 1px solid #ddd;
  // background-color: white;
  // padding: 20px;
  @extend %markdown;
  margin-bottom: var(--margin-bottom);

  &__title {
    font-size: 1.05rem !important;
    font-weight: bold;
    margin: 0px 0px 30px 0px !important;
  }

  &__description {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    p {
      margin: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;

    &__item {
      margin-bottom: 8px;
      @extend %tags-badge;
    }
  }
}
